#mainCont{
    margin-top: 12px;
    margin-bottom: 10px;
    margin-right: 300px;
    margin-left: 300px;
    background-color:dimgrey;  
    border-radius: 1px 1px 5px 5px;

}
#imgDiv{
    position: relative;
    top: 10px;
    left: 10px;
}

#orgInfo{
    position: relative;
    bottom: 100px;
    left: 100px;
}

#orgTitle{
    text-align:center;
    font-size: 70px;
    
}

#orgDescr{
   text-align:center;
    font-size: 20px; 
}

#orgEvents{
    text-align:center;
    font-size: 40px; 
}