/* CSS declarations go here */
.textf {
    border: 0px solid #000000;
    background: #ffffff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    color: #000000;
    padding:8px;
    margin-bottom:20px;
    width:280px;
    font-size: 14px;
}

.header {
    position: relative;
    width: 100%;	
    z-index: 200;
    background-color: #3B6EBC;
    background-color: #3B6EBC;

}

h1 {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #3B6EBC;
    color: #FFFFFF;
    font-weight: 300;
}

h1 : hover {
    span : pointer;
}

#search {
    position: fixed;
    left: 180px;
    top: 9px;
    width: 300px;
    height: 25px;
}