@charset "utf-8";
/* Eventis Style.css*/

html, body {
	height = 100%
	padding: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #D0FBDC;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#wrapper {
	margin: 20px 40px;
	padding: 20px;
	position: relative;
	min-width: 1200px;
	background-color: white;
}

#viewport {
	position: fixed;
	left: 780px;
	top: 43px;
	width: 465px;
	height: 535px;
	PADDING: 15px;
	border: thin solid #797979;
}

#page {
	position: relative;
	width: 100%;	
}

#eventsList {
	position:relative;
	width: 700px;
	margin:0;
}
	#eventsList table {
		width: 100%;
	}
		#eventsList table tbody {
			width: 100%;
			padding:0; 
			margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#eventsList table tr {
				width: 100%;
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}
				#eventsList table td  {
					width: 100%;		
				}

#eventWrapper {
	position: relative;
	width: 100%;
	height: 90px;
	border: thin solid #797979;
}

#eventWrapper:hover {
	border: 2pt solid #797979;	
}

	#eventWrapper #voter {
		position: relative;
  		float: left;
		width: 5%;
		vertical-align: middle;
		padding: 10px;
	}
		#eventWrapper #voter #upvote {
			position: relative;
			top: 0;
			margin: 0px auto;
			background-image: url(arrowsprites.png);
			background-position: 0px 0px;
			width: 32px;
			height:21px;							
		}
		#eventWrapper #voter #upvote:hover {
			position: relative;
			top: 0;
			margin: 0px auto;
			background-image: url(arrowsprites.png);
			background-position: 0px -21px;
			width: 32px;
			height:21px;							
		}
		#eventWrapper #voter #downvote {
			position: relative;
			bottom: 0;
			margin: 0px auto;
			background-image: url(arrowsprites.png);
			background-position: -32px 0px;
			width: 32px;
			height:21px;							
		}
		#eventWrapper #voter #downvote:hover {
			position: relative;
			bottom: 0;
			margin: 0px auto;
			background-image: url(arrowsprites.png);
			background-position: -32px -21px;
			width: 32px;
			height:21px;							
		}
		#eventWrapper #voter #voteCount {
			position: relative;
			padding: 5px 0px;
			margin: auto;
			font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size: 17px;
		}
		
	#eventWrapper #event {
		position: relative;	
		margin-top: 7px;
		margin-left: 10px;
		width: 80%;
		float: left;
	}
		#eventTitle {
			position: relative;
			width: 100%;
			float: left;
			height: 20px;
			font-size: 22px;
			padding-bottom: 7px;
			text-align: left;
			color: #2A6720;
		}
		
		#eventWrapper #event #eventDescription {
			position: relative;
			float: left;
			width: 100%;
			text-align: left;
			max-height: 50px;
			overflow-y: hidden;
		}

#info {
	position: relative;
	height: 100%;	
}
	#date, #time, #location {
		padding: 3px 0;
		float:left;
		top: 0px;
		width:50%;
	}
	
	#creator {
		float: left;
		width: 30%;
	}
	
	#info #eventDescription {
		position: relative;	
		float:left;
		margin-top: 20px;
	}

<!-- DEPRECATED -->
#eventInfo {
	width:250px;
	position:relative;
	top:0; left:0;
}
	#eventInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}